@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: #D1A217;
  --secondary-color: #E4E4E7;
  --border-color: #CBD5E1;
  --text-muted: #525252;
  --card-background: #262626;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.45rem;
  --slide-height: 19rem;
  --slide-spacing: 3rem;
  --slide-size: 20%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0 15px;
}

html {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

body {
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: var(--color-text);
}

.embla {
  max-width: 80rem;
  margin: auto;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  margin-left: var(--slide-spacing);
  /* background-color: red; */
}

/* Tablets */
@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
    margin: 0 auto;
  }
}

/* Desktops */
@media screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

/* Pantallas grandes */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}

.info{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 1rem;
  
}
.stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
  
}
.statsLeft{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  gap: 75px;
  margin-top: 20px;
  
}
.frames{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.mapArg{
  width: 239px;
  height: 503px;
}
.statsRight{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.frameGold{
  background-color: var(--primary-color);
  
}
.frameBlack{
  background-color: var(--card-background);
  
  
}
.textFrames{
  padding-right: 2px;
  font-size: smaller;
  
}
.frame{
  width: 200px;
  border-radius: 10px;
  padding: 25px 10px;
  color: var(--secondary-color);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.3);
}
.textStats{
  width: 45%;
}
.h1Stats{
  margin-bottom: 10px;
}