<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../global.css">
  <link rel="stylesheet" href="../styles/buscar.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="container header">
      <a href="/" class="logo">
        <img src="../img/logo.webp" />
      </a>
      <nav class="nav">
        <a class="link" href="/views/buscar.html">Alquilar</a>
        <a class="link" href="/views/publicar.html">Publicar</a>
        <a class="link" href="/views/favoritos.html">Favoritos</a>
      </nav>
      <a href="/views/iniciar-sesion.html" class="button">Iniciar sesión</a>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="filters">
        <form class="filters_form" action="#">
          <input type="text" class="input" placeholder="Buscar...">
          <select class="input" name="alquiler" id="alquiler">
            <option value="alquiler">Alquiler</option>
            <option value="venta">Compra</option>
          </select>
          <select class="input" name="tipo" id="tipo">
            <option value="todo">Todo</option>
            <option value="casa">Casa</option>
            <option value="departamento">Departamento</option>
            <option value="local">Local</option>
            <option value="terreno">Terreno</option>
          </select>
          <select class="input" name="precio" id="precio">
            <option value="cualquiera">Cualquier precio</option>
            <option value="100000">Menos de 100000</option>
            <option value="200000">Menos de 200000</option>
            <option value="300000">Menos de 300000</option>
            <option value="400000">Menos de 400000</option>
          </select>
          <button type="submit" class="button">Buscar</button>
        </form>
      </div>
      <div class="card_container">
        <a class="card_link" href="#">
          <div class="card">
            <img src="../img/house-1.webp" class="card_img" alt="Casa 1">
            <div class="card_data">
              <div class="card_header">
                <p class="card_title">Casa linda con patio</p>
                <button class="card_like_button">
                  <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
                      stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="data_ubicacion">
                <p class="data_ciudad">Rosario</p>
                <p class="data_direccion">San martin 123</p>
              </div>
              <div class="card_stats">
                <div class="card_stats_item">
                  <img src="../img/icono-banios.svg" alt="">
                  <p class="stats_item_p">1 baño</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-planos.svg" alt="">
                  <p class="stats_item_p">2 habs</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-m2.svg" alt="">
                  <p class="stats_item_p">250m2</p>
                </div>
              </div>
              <p class="data_descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius architecto
                dolorem et
                dicta libero, est enim consequatur ratione accusamus vel voluptas provident quidem. Illum eos aut,
                praesentium aperiam quas a.</p>
              <p class="data_precio">$100000</p>
            </div>
          </div>
        </a>
        <a class="card_link" href="#">
          <div class="card">
            <img src="../img/house-1.webp" class="card_img" alt="Casa 1">
            <div class="card_data">
              <div class="card_header">
                <p class="card_title">Casa linda con patio</p>
                <button class="card_like_button">
                  <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
                      stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="data_ubicacion">
                <p class="data_ciudad">Rosario</p>
                <p class="data_direccion">San martin 123</p>
              </div>
              <div class="card_stats">
                <div class="card_stats_item">
                  <img src="../img/icono-banios.svg" alt="">
                  <p class="stats_item_p">1 baño</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-planos.svg" alt="">
                  <p class="stats_item_p">2 habs</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-m2.svg" alt="">
                  <p class="stats_item_p">250m2</p>
                </div>
              </div>
              <p class="data_descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius architecto
                dolorem et
                dicta libero, est enim consequatur ratione accusamus vel voluptas provident quidem. Illum eos aut,
                praesentium aperiam quas a.</p>
              <p class="data_precio">$100000</p>
            </div>
          </div>
        </a>
        <a class="card_link" href="#">
          <div class="card">
            <img src="../img/house-1.webp" class="card_img" alt="Casa 1">
            <div class="card_data">
              <div class="card_header">
                <p class="card_title">Casa linda con patio</p>
                <button class="card_like_button">
                  <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
                      stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="data_ubicacion">
                <p class="data_ciudad">Rosario</p>
                <p class="data_direccion">San martin 123</p>
              </div>
              <div class="card_stats">
                <div class="card_stats_item">
                  <img src="../img/icono-banios.svg" alt="">
                  <p class="stats_item_p">1 baño</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-planos.svg" alt="">
                  <p class="stats_item_p">2 habs</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-m2.svg" alt="">
                  <p class="stats_item_p">250m2</p>
                </div>
              </div>
              <p class="data_descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius architecto
                dolorem et
                dicta libero, est enim consequatur ratione accusamus vel voluptas provident quidem. Illum eos aut,
                praesentium aperiam quas a.</p>
              <p class="data_precio">$100000</p>
            </div>
          </div>
        </a>
        <a class="card_link" href="#">
          <div class="card">
            <img src="../img/house-1.webp" class="card_img" alt="Casa 1">
            <div class="card_data">
              <div class="card_header">
                <p class="card_title">Casa linda con patio</p>
                <button class="card_like_button">
                  <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
                      stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="data_ubicacion">
                <p class="data_ciudad">Rosario</p>
                <p class="data_direccion">San martin 123</p>
              </div>
              <div class="card_stats">
                <div class="card_stats_item">
                  <img src="../img/icono-banios.svg" alt="">
                  <p class="stats_item_p">1 baño</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-planos.svg" alt="">
                  <p class="stats_item_p">2 habs</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-m2.svg" alt="">
                  <p class="stats_item_p">250m2</p>
                </div>
              </div>
              <p class="data_descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius architecto
                dolorem et
                dicta libero, est enim consequatur ratione accusamus vel voluptas provident quidem. Illum eos aut,
                praesentium aperiam quas a.</p>
              <p class="data_precio">$100000</p>
            </div>
          </div>
        </a>
        <a class="card_link" href="#">
          <div class="card">
            <img src="../img/house-1.webp" class="card_img" alt="Casa 1">
            <div class="card_data">
              <div class="card_header">
                <p class="card_title">Casa linda con patio</p>
                <button class="card_like_button">
                  <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
                      stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
              <div class="data_ubicacion">
                <p class="data_ciudad">Rosario</p>
                <p class="data_direccion">San martin 123</p>
              </div>
              <div class="card_stats">
                <div class="card_stats_item">
                  <img src="../img/icono-banios.svg" alt="">
                  <p class="stats_item_p">1 baño</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-planos.svg" alt="">
                  <p class="stats_item_p">2 habs</p>
                </div>
                <div class="card_stats_item">
                  <img src="../img/icono-m2.svg" alt="">
                  <p class="stats_item_p">250m2</p>
                </div>
              </div>
              <p class="data_descripcion">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius architecto
                dolorem et
                dicta libero, est enim consequatur ratione accusamus vel voluptas provident quidem. Illum eos aut,
                praesentium aperiam quas a.</p>
              <p class="data_precio">$100000</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </main>
  <footer>
    <div class="container footer_container">
      <div class="footer_logo">
        <img class="footer_logo_img" src="../img/logo.webp" alt="Logo">
        <p class="footer_logo_title">Real state</p>
      </div>
      <div class="footer_nav">
        <ul class="footer_list">
          <li class="footer_list_item"><a class="footer_list_a" href="#">Home</a></li>
          <li class="footer_list_item"><a class="footer_list_a" href="#">Vender</a></li>
          <li class="footer_list_item"><a class="footer_list_a" href="#">Comprar</a></li>
        </ul>
      </div>
      <div class="separator"></div>
      <div class="footer_copy">
        <p>© Copyright 2024. Todos los derechos reservados</p>
        <div class="footer_socials">
          <a class="socials_a" href="#">
            <img class="socials_img" src="./img/ig-icon-black.svg" alt="">
          </a>
          <a class="socials_a" href="#">
            <img class="socials_img" src="./img/x-icon-black.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>