<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../global.css" />
    <title>Real state - Registrarse</title>

    <link rel="stylesheet" href="../styles/registrarse.css" />
  </head>

  <body>
    <header>
      <div class="container header">
        <a href="/" class="logo">
          <img src="../img/logo.webp" />
        </a>
        <nav class="nav">
          <a class="link" href="/views/buscar.html">Alquilar</a>
          <a class="link" href="/views/publicar.html">Publicar</a>
          <a class="link" href="/views/favoritos.html">Favoritos</a>
        </nav>
        <a href="/views/iniciar-sesion.html" class="button">Iniciar sesión</a>
      </div>
    </header>
    <main>
      <div class="container registrarse">
        <div class="h1-subtitulo">
          <h1>Registrarse</h1>
          <p>Ingresá tu email para crear una cuenta</p>
        </div>

        <form>
          <div class="nom-ape texto">
            <div>
              <label for="nombre">Nombre</label>
              <input id="nombre" type="text" placeholder="Juan" class="input" />
            </div>
            <div>
              <label for="Apellido">Apellido</label>
              <input
                id="apellido"
                type="text"
                placeholder="Pérez"
                class="input"
              />
            </div>
          </div>
          <div class="email texto">
            <label for="correo"> Email</label>
            <input
              id="correo"
              type="text"
              placeholder="usuario@falso.com"
              class="input correo"
            />
          </div>
          <div class="info-contraseña">
            <div class="texto-contraseña texto">
              <label for="contraseña"> Contraseña</label>
            </div>
            <input
              id="contraseña"
              type="password"
              placeholder="***********"
              class="input contraseña"
            />
          </div>
          <button class="button iniciar-sesion">Iniciar sesión</button>
        </form>
        <div class="registro texto">
          <div>¿Ya tienes una cuenta?</div>
          <a href="./iniciar-sesion.html">Iniciar Sesión</a>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="logo">
        <img src="../img/logo.webp" />
        <p>Real State</p>
      </div>
      <div class="links">
        <a href="#">Home</a>
        <a href="#">Vender</a>
        <a href="#">Comprar</a>
      </div>
      <div class="rectangulo">
        <div class="info-footer">
          <p>© Copyright 2024. Todos los derechos reservados</p>
          <div class="redes">
            <img src="../img/x-icon-black.svg" alt="" />
            <img src="../img/ig-icon-black.svg" alt="" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
