.flashes {
    list-style-type: none;
    padding: 0;
  }
  
  .flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .flashes li.success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .flashes li.danger {
    background-color: #f8d7da;
    color: #721c24;
  }