@import url(./variables.css);

.main-inicio-sesion {
  min-height: 80vh;
}

.inicioSesion {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: fit-content;
  padding: 30px 20px;
  gap: 15px;
  margin-top: 150px;
  border: 1px solid rgba(187, 187, 187, 0.812);
  border-radius: 10px;
}

#form-iniciar-sesion{
  width: 100%;
}

.h1-subtitulo p {
  color: rgb(101, 101, 101);
}

.correo {
  width: 350px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}

.contraseña {
  padding: 15px;
}

.texto-contraseña {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.texto-contraseña a {
  text-decoration: underline;
  color: black;
}

.info-contraseña {
  justify-content: space-between;
}

#correo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  font-size: 15px;
}

#contraseña {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  font-size: 15px;
}

.iniciar-sesion {
  width: 100%;
  margin-top: 15px;
}

.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.registro a {
  text-decoration: underline;
  color: black;
}

.texto {
  font-size: 13px;
  font-weight: 600;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.links a {
  color: rgb(101, 101, 101);
  font-size: 14px;
  font-weight: 400;
}

.rectangulo {
  border-top: 1px solid gray;
  padding-top: 20px;
}

