@import url(./variables.css);

.main-publicar {
  margin-top: 6em;
}

.main-publicar > h1 {
  font-size: 3em;
}

.title {
  font-size: 3em;
}

hr {
  opacity: 0.4;
}

small {
  opacity: 0.8;
}

label {
  font-size: 14px;
  font-weight: bold;
}

select {
  border: solid 1px rgb(221, 225, 230);
  width: 100%;
  padding: 3.3%;
  font-size: 14px;
  border-radius: var(--border-radius-md);
}

.mensaje {
  grid-column: span 2;
}

.boton-subir {
  font-size: 14px;
  background-color: whitesmoke;
  padding: 1% 7%;
  border: solid 0.1px;
  border-color: var(--border-color);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  margin: 2% 0%;
}

.boton-subir:hover {
  opacity: .8;
  
}

.boton-subir:active {
  opacity: .8;
}

.button-publi {
  margin-top: 3%;
}

.contenedor-formu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 2em;
  row-gap: 3em;
  margin-top: 2em;
}

/* Estilo general para cualquier alerta */

.alert {
  display: flex;                 
  justify-content: center;         
  align-items: center;             
  padding: 15px;
  border-radius: 8px;             
  font-size: 16px;
  background-color: #28a745;       
  color: white;                    
  width: 300px;                   
  box-sizing: border-box;          
  margin: 20px auto;               
  text-align: center;             
}

.alert p {
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
}

.alert-success {
  background-color: #28a745;  
  color: white;              
}

