@import url(./variables.css);

.registrarse {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: fit-content;
  padding: 30px 20px;
  gap: 15px;
  margin-top: 150px;
  margin-bottom: 4em;
  border: 1px solid rgba(187, 187, 187, 0.812);
  border-radius: 10px;
}

.h1-subtitulo p {
  color: rgb(101, 101, 101);
}

.nom-ape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 13px;
}

.correo {
  width: 100%;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: start;
}

.contraseña {
  padding: 15px;
}

.texto-contraseña {
  margin-top: 15px;
}

.texto-contraseña a {
  text-decoration: underline;
  color: black;
}

.info-contraseña {
  justify-content: space-between;
}

#correo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

#contraseña {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.registro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin: 0 auto;
}

.registro a {
  text-decoration: underline;
  color: black;
}

.texto {
  font-size: 13px;
  font-weight: 600;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.links a {
  color: rgb(101, 101, 101);
  font-weight: 400;
}

.rectangulo {
  border-top: 1px solid gray;
  padding-top: 20px;
}

.button-registrarse {
  width: 100%;
  padding: 15px 30px;
  font-weight: 700;
}