{% extends "layout.html" %}
{% block titulo %} Real state - Buscar {% endblock %}
{% block content %}
<main>
  <div class="container">
    <div class="filters">
      <form class="filters_form" action="#">
        <input type="text" class="input" placeholder="Buscar..." />
        <select class="input" name="alquiler" id="alquiler">
          <option value="alquiler">Alquiler</option>
          <option value="venta">Compra</option>
        </select>
        <select class="input" name="tipo" id="tipo">
          <option value="todo">Todo</option>
          <option value="casa">Casa</option>
          <option value="departamento">Departamento</option>
          <option value="local">Local</option>
          <option value="terreno">Terreno</option>
        </select>
        <select class="input" name="precio" id="precio">
          <option value="cualquiera">Cualquier precio</option>
          <option value="100000">Menos de 100000</option>
          <option value="200000">Menos de 200000</option>
          <option value="300000">Menos de 300000</option>
          <option value="400000">Menos de 400000</option>
        </select>
        <button type="submit" class="button">Buscar</button>
      </form>
    </div>
    <div class="card_container">
      {% if posts|length == 0 %}
      <div class="no-resultados">
        <p>No se encontraron resultados.</p>
      </div>
      {% else %}
      {% for post in posts %}
      <a class="card_link" href="/post/{{ post.id }}">
        <div class="card">
          <img src="{{ url_for('static', filename='posts/' ~ post.imagen) }}" class="card_img"
            alt="{{ post.titulo }}" />
          <div class="card_data">
            <div class="card_header">
              <p class="card_title">{{ post.titulo }}</p>
              <form action="{{ url_for('marcar_favorito', id=post.id) }}" method="POST">
                <button type="submit" class="card_like_button">
                  <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
                      stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </button>
              </form>
            </div>
            <div class="data_ubicacion">
              <p class="data_ciudad">{{ post.ciudad }}</p>
              <p class="data_direccion">{{ post.direccion }}</p>
            </div>
            <div class="card_stats">
              <div class="card_stats_item">
                <img src="{{ url_for('static', filename='images/icono-banios.svg') }}" alt="Icono baños" />
                <p class="stats_item_p">
                  {{ post.banios }} {{ 'baño' if post.banios == 1 else 'baños' }}
                </p>
              </div>
              <div class="card_stats_item">
                <img src="{{ url_for('static', filename='images/icono-planos.svg') }}" alt="Icono planos" />
                <p class="stats_item_p">
                  {{ post.habitaciones }} {{ 'hab' if post.habitaciones == 1 else 'habs' }}
                </p>
              </div>
              <div class="card_stats_item">
                <img src="{{ url_for('static', filename='images/icono-m2.svg') }}" alt="Icono m2" />
                <p class="stats_item_p">{{ post.metros_cuadrados }}m2</p>
              </div>
            </div>
            <p class="data_descripcion">{{ post.descripcion }}</p>
            <p class="data_precio">$ {{ post.precio }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}