<!-- {% extends "layout.html" %}
{% block titulo %} Real state - Favoritos {% endblock %}
{% block content %}
<main>
  <div class="titleContainter container">
    <h1 class="titleFav">Tus Favoritos</h1>
    <div class="separator"></div>
  </div>
  <div class="container main-favoritos">
    {% for post in posts %}
    <div class="listing_card">
      <img class="listing_card_img" src="{{ url_for('static', filename='posts/' + post.imagen) }}"
        alt="{{ post.titulo }}" />
      <button class="like_button">
        <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="card_data">
        <div class="card_info">
          <p class="card_type">{{ post.tipo }}</p>
          <p class="card_price">{{ post.precio }}</p>
        </div>
        <div class="card_location">
          <p class="card_direction">{{ post.direccion }}</p>
          <p class="card_city">{{ post.ciudad }}</p>
        </div>
        <div class="card_stats">
          <div class="card_stats_item">
            <img src="../img/icono-banios.svg" alt="" />
            <p class="stats_item_p">{{ post.banios }} baño(s)</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-planos.svg" alt="" />
            <p class="stats_item_p">{{ post.habitaciones }} hab(s)</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-m2.svg" alt="" />
            <p class="stats_item_p">{{ post.metros_cuadrados }}m2</p>
          </div>
        </div>
        <form action="{{ url_for('eliminar_favorito', id=post.id) }}" method="POST">
          <button type="submit">Eliminar</button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %} -->

{% extends "layout.html" %}
{% block titulo %} Real state - Favoritos {%
endblock %}
{% block content %}
<main>
  <div class="titleContainter container">
    <h1 class="titleFav">Tus Favoritos</h1>
    <div class="separator"></div>
  </div>
  <div class="container main-favoritos">
    <div class="listing_card">
      <img class="listing_card_img" src="../img/house-6.webp" alt="House 1" />
      <button class="like_button">
        <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="card_data">
        <div class="card_info">
          <p class="card_type">Departamento en venta</p>
          <p class="card_price">USD 140.000</p>
        </div>
        <div class="card_location">
          <p class="card_direction">Callao 1530</p>
          <p class="card_city">Buenos Aires</p>
        </div>
        <div class="card_stats">
          <div class="card_stats_item">
            <img src="../img/icono-banios.svg" alt="" />
            <p class="stats_item_p">1 baño</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-planos.svg" alt="" />
            <p class="stats_item_p">3 habs</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-m2.svg" alt="" />
            <p class="stats_item_p">130m2</p>
          </div>
        </div>
      </div>
    </div>
    <div class="listing_card">
      <img class="listing_card_img" src="../img/house-7.webp" alt="House 1" />
      <button class="like_button">
        <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="card_data">
        <div class="card_info">
          <p class="card_type">Departamento en Alquiler</p>
          <p class="card_price">$ 150.000</p>
        </div>
        <div class="card_location">
          <p class="card_direction">3 de Febrero 1230</p>
          <p class="card_city">Rosario</p>
        </div>
        <div class="card_stats">
          <div class="card_stats_item">
            <img src="../img/icono-banios.svg" alt="" />
            <p class="stats_item_p">1 baño</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-planos.svg" alt="" />
            <p class="stats_item_p">1 habs</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-m2.svg" alt="" />
            <p class="stats_item_p">45m2</p>
          </div>
        </div>
      </div>
    </div>
    <div class="listing_card">
      <img class="listing_card_img" src="../img/house-8.webp" alt="House 1" />
      <button class="like_button">
        <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="card_data">
        <div class="card_info">
          <p class="card_type">Casa en venta</p>
          <p class="card_price">USD 96.000</p>
        </div>
        <div class="card_location">
          <p class="card_direction">Mariano Moreno</p>
          <p class="card_city">Rafaela</p>
        </div>
        <div class="card_stats">
          <div class="card_stats_item">
            <img src="../img/icono-banios.svg" alt="" />
            <p class="stats_item_p">1 baño</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-planos.svg" alt="" />
            <p class="stats_item_p">3 habs</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-m2.svg" alt="" />
            <p class="stats_item_p">190m2</p>
          </div>
        </div>
      </div>
    </div>
    <div class="listing_card">
      <img class="listing_card_img" src="../img/house-9.webp" alt="House 1" />
      <button class="like_button">
        <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="card_data">
        <div class="card_info">
          <p class="card_type">Departamento en alquiler</p>
          <p class="card_price">$ 212.000</p>
        </div>
        <div class="card_location">
          <p class="card_direction">Zeballos 1390</p>
          <p class="card_city">Rosario</p>
        </div>
        <div class="card_stats">
          <div class="card_stats_item">
            <img src="../img/icono-banios.svg" alt="" />
            <p class="stats_item_p">1 baño</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-planos.svg" alt="" />
            <p class="stats_item_p">2 habs</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-m2.svg" alt="" />
            <p class="stats_item_p">86m2</p>
          </div>
        </div>
      </div>
    </div>
    <div class="listing_card">
      <img class="listing_card_img" src="../img/house-10.webp" alt="House 1" />
      <button class="like_button">
        <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="card_data">
        <div class="card_info">
          <p class="card_type">Casa en venta</p>
          <p class="card_price">USD 165.000</p>
        </div>
        <div class="card_location">
          <p class="card_direction">Sarmiento</p>
          <p class="card_city">Funes</p>
        </div>
        <div class="card_stats">
          <div class="card_stats_item">
            <img src="../img/icono-banios.svg" alt="" />
            <p class="stats_item_p">2 baños</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-planos.svg" alt="" />
            <p class="stats_item_p">4 habs</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-m2.svg" alt="" />
            <p class="stats_item_p">230m2</p>
          </div>
        </div>
      </div>
    </div>
    <div class="listing_card">
      <img class="listing_card_img" src="../img/house-11.webp" alt="House 1" />
      <button class="like_button">
        <svg class="like_button_hearth" width="17" height="15" viewBox="0 0 17 15" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.0196 2.47132C13.6851 2.13571 13.2877 1.86941 12.8501 1.68771C12.4125 1.50601 11.9434 1.41248 11.4696 1.41248C10.9958 1.41248 10.5266 1.50601 10.089 1.68771C9.65145 1.86941 9.25403 2.13571 8.91958 2.47132L8.40625 2.99132L7.89291 2.47132C7.55846 2.13571 7.16105 1.86941 6.72346 1.68771C6.28587 1.50601 5.81672 1.41248 5.34291 1.41248C4.8691 1.41248 4.39995 1.50601 3.96237 1.68771C3.52478 1.86941 3.12737 2.13571 2.79291 2.47132C1.37958 3.88466 1.29291 6.27132 3.07291 8.08466L8.40625 13.418L13.7396 8.08466C15.5196 6.27132 15.4329 3.88466 14.0196 2.47132Z"
            stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <div class="card_data">
        <div class="card_info">
          <p class="card_type">Casa en venta</p>
          <p class="card_price">USD 247.000</p>
        </div>
        <div class="card_location">
          <p class="card_direction">Av. Alvear</p>
          <p class="card_city">Tigre</p>
        </div>
        <div class="card_stats">
          <div class="card_stats_item">
            <img src="../img/icono-banios.svg" alt="" />
            <p class="stats_item_p">1 baño</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-planos.svg" alt="" />
            <p class="stats_item_p">3 habs</p>
          </div>
          <div class="card_stats_item">
            <img src="../img/icono-m2.svg" alt="" />
            <p class="stats_item_p">140m2</p>
          </div>
          <form action="{{ url_for('eliminar_favorito', id=post.id) }}" method="POST">
            <button type="submit">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}