{% extends "layout.html" %} {% block titulo %} Real state - Iniciar sesión {%
endblock %} {% block content %}
<main class="main-inicio-sesion">
  <div class="container inicioSesion">
    <div class="h1-subtitulo">
      <h1>Iniciar sesión</h1>
      <p>Ingresá tu email para acceder a tu cuenta</p>
    </div>
    <form id="form-iniciar-sesion" novalidate>
      <div class="email">
        <label for="correo" class="texto">Email</label>
        <input
          id="correo"
          type="email"
          placeholder="usuario@falso.com"
          class="input correo"
        />
        <div class="form-error" id="correo-error"></div>
      </div>
      <div class="info-contraseña">
        <div class="texto-contraseña">
          <label for="contrasenia" class="texto"> Contraseña</label>
          <a href="#" class="texto">¿Olvidaste tu contraseña?</a>
        </div>
        <input
          id="contrasenia"
          type="password"
          placeholder="***********"
          class="input"
        />
        <div class="form-error" id="contrasenia-error"></div>
      </div>
      <button class="button iniciar-sesion">Iniciar sesión</button>
    </form>
    <div class="registro texto">
      <div>¿No tienes una cuenta?</div>
      <a href="./registrarse">Registrarse</a>
    </div>
  </div>
</main>
<script src="{{ url_for('static', filename='scripts/validar-iniciar-sesion.js') }}"></script>
{% endblock %}
