{% extends "layout.html" %} {% block titulo %} Real state - Registrarse {%
endblock %} {% block content %}
<main>
  <div class="container registrarse">
    <div class="h1-subtitulo">
      <h1>Registrarse</h1>
      <p>Ingresá tu email para crear una cuenta</p>
    </div>
    <form>
      <div class="nom-ape texto">
        <div>
          <label for="nombre">Nombre</label>
          <input id="nombre" type="text" placeholder="Juan" class="input" />
        </div>
        <div>
          <label for="Apellido">Apellido</label>
          <input id="apellido" type="text" placeholder="Pérez" class="input" />
        </div>
      </div>
      <div class="email texto">
        <label for="correo"> Email</label>
        <input
          id="correo"
          type="text"
          placeholder="usuario@falso.com"
          class="input correo"
        />
      </div>
      <div class="info-contraseña">
        <div class="texto-contraseña texto">
          <label for="contraseña"> Contraseña</label>
        </div>
        <input
          id="contraseña"
          type="password"
          placeholder="***********"
          class="input contraseña"
        />
      </div>
      <div class="info-contraseña">
        <div class="texto-contraseña texto">
          <label for="confirmar-contraseña"> Confirmar Contraseña</label>
        </div>
        <input
          id="confirmar-contraseña"
          type="password"
          placeholder="***********"
          class="input contraseña"
        />
      </div>
      <button class="button iniciar-sesion">Iniciar sesión</button>
    </form>
    <div class="registro texto">
      <div>¿Ya tienes una cuenta?</div>
      <a href="./iniciar-sesion">Iniciar Sesión</a>
    </div>
  </div>
</main>
{% endblock %}
